@import '../.././utils/mixins.scss';

.st-header {
  height: 45px;
  background-image: url(../../../public/static/images/header.jpg);
  background-position: center;
  margin-bottom: 15px;
  background-position: center;
  background-size: 100% 100%;
}


