@import "../../../../utils/variables";

.st-game-group-icon {
  position: relative;
  top: 2px;
}
.st-game-group-title-text {
  color: $color-blue;
  cursor: pointer;
  word-break: break-word;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #2d7091;
  }
}