@import "../../../../utils/variables";
.st-game-collaborators {
  .st-game-collaborator-separate {
    color: #999;
    font-weight: normal;
  }
  .st-game-collaborator-name-confirmed {
    color: $color-blue;
    cursor: pointer;
    font-weight: normal;
    &:hover {
      color: #2d7091;
    }
  }
  .st-game-collaborator-name-unconfirmed {
    color: #999;
    cursor: pointer;
    font-weight: normal;
  }
}