.st-dropdown-notifications-wrap {
  background-color: white;
  padding: 5px;
  width: 275px;
  left: -125px !important;
  top: 10px !important;
  max-height: 495px;
  overflow-y: auto;
}
.st-notifications-no-message-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}