@import "../../../utils/mixins";
.st-games {
  width: 100%;
  height: 850px;
  background-image: url(../../../../public/static/images/backgrAuth.jpg);
  background-position: center;
  .st-games-has-more{
    //@include textStyle($font-size-medium, $color-white, bold);
    background-color: $color-blue;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    &:hover{
      background-color: $color-dark-blue;
    }
    span{
      cursor: pointer;
    }
  }
}