@import "../../../utils/mixins";
.st-games {
  max-width: 570px;
  .st-games-has-more{
    //@include textStyle($font-size-medium, $color-white, bold);
    background-color: $color-blue;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    &:hover{
      background-color: $color-dark-blue;
    }
    span{
      cursor: pointer;
    }
  }
}