@import "../../utils/mixins";

.ch-registration {
  @include formStyle('registration', 355px, 30px);
  .ch-registration-form-wrap{
    width: 600px;
    height: 850px;
    background-image: url('../../../public/static/images/frameAuthorized.png');
    background-repeat: no-repeat;
    background-size: 600px 850px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ch-registration-form {
    margin-left: 7px;
    height: 598px;
    background-image: url('../../../public/static/images/backgrAuth.jpg');
    background-repeat: no-repeat;
    background-size: 360px 600px;
    .ch-registration-form-footer {

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
