// fonts
$main_font: "Poppins-Regular", sans-serif;
$font_size: 14px;

// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 15px;

// color
$color-light-brown: #c28c65;
$color-dark-brown: #6d3510;
$color-placeholder: #adadad;
