// fonts
$main_font: "Poppins-Regular", sans-serif;
$font_size: 14px;

// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 15px;

// color
$color-light-brown: #c28c65;
$color-dark-brown: #6d3510;
$color-placeholder: #adadad;

$color-blue: #3a79ee;
$color-dark-blue:#134bad;
$color-white: #fff;

//font-sizes
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;

//avatars
$avatar-small: 25px;
$avatar-medium: 32px;
$avatar-large: 45px;
$avatar-largest: 145px;

//icons
$icon-small: 15px;
$icon-medium: 18px;
$icon-large: 24px;

//fields
$field-small: 30px;
$field-medium: 35px;
$field-large: 90px;

//buttons
$button-small: 28px;
$button-medium: 35px;
$button-large: 45px;

//header
$height-header: 45px;

//border-radius
$border-radius: 4px