.st-avatar-link {
  cursor: pointer;
}
.st-avatar-wrap {
  position: relative;
}
.st-header__avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.st-create-game__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 45px;
  width: 45px;
}

.st-game__avatar {
  border-radius: 50%;
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.st-create-comment__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.st-comment__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.st-create-reply__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.st-reply__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.st-create-comment-modal__avatar {
  border-radius: 50%;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.st-group-member__avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 9px;
}

.st-company-member__avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 5px;
}